<!–studentsrch.html -->
{% extends "index.html" %}
<html>
<body>
{%block centercontent %}
<h2>Find Student</h2>
<hr>

<form method="post">{% csrf_token %}
Enter Student Name:
<input type=text name=name><br>
<input type=submit value=Search>
</form>
<hr>
{% if results %}

{% if students %}
{%for s in students%}
<p>Name	: {{s.name}}</p>
<p>Mail	: {{s.mail}}</p>
<p>Address: {{s.address}}</p>
<p>Phone Number	: {{s.phonenumber}}</p>
<hr>
{%endfor%}
{% else %}
<h2>No Mathcing Record Found</h2>
{% endif %}

{% endif %}
<p>Back to <a href="/studapp/">Home</a></p>
{% endblock%}

</body>
</html>